:root {
    --primary-color: rgb(128, 108, 187);
    --secondary-color: #AEC6CF;
  }

  /* Topbar customization */
  .navbar {
    background-color: var(--primary-color);
  }

  .navbar-light .navbar-brand {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
  }

  /* Hero Section */
  .jumbotron {
    background-color: rgb(85, 68, 141);
    color: white;
  }

  .jumbotron a.btn {
    
    background-color: rgb(128, 108, 187);
    color: rgb(255, 255, 255);
  }

  .jumbotron a.btn:hover {
    background-color: rgb(33, 37, 41);
    color:rgb(255, 255, 255);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  /* Features Section */
  .feature-icon {
    font-size: 4rem;
    color: var(--primary-color);
    transition: transform 0.3s;
  }

  .feature-icon:hover {
    transform: scale(1.2);
  }


 

  footer p {
    margin: 0;
  }

  /* Add animations to the page */
  .animate__fadeInUp {
    animation-duration: 1s;
  }